[submodule "DG"]
	path = DG
	url = ../Proyectos.git
[submodule "JS/react/botones"]
	path = JS/react/botones
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/react/botones
[submodule "JS/react/conversor"]
	path = JS/react/conversor
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/react/conversor
[submodule "JS/react/tresenlinea/my-app"]
	path = JS/react/tresenlinea/my-app
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/react/tresenlinea/my-app
[submodule "JS/react/plantilla"]
	path = JS/react/plantilla
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/react/plantilla
[submodule "JS/react/semaforo"]
	path = JS/react/semaforo
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/react/semaforo
[submodule "JS/React-js/ExamenReact1A"]
	path = JS/React-js/ExamenReact1A
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/React-js/ExamenReact1A
[submodule "JS/React-js/plantilla"]
	path = JS/React-js/plantilla
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/React-js/plantilla
[submodule "JS/React-js/sino"]
	path = JS/React-js/sino
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/React-js/sino
[submodule "JS/React-js/laberinto"]
	path = JS/React-js/laberinto
	url = /opt/lampp/htdocs/Proyectos/2DAW2324/JS/React-js/laberinto
