section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h2 {
    flex-basis: 100%;
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

article.breaking {
    flex-grow: 2;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width:720px) {

    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    article {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        flex-grow:1;
    }
    .breaking {
        flex-grow: 2;
    }
    


}