* {
    box-sizing: border-box;
}

header>div#cabecera {
    display: flex;
    border: 1px solid red;
    flex-basis: 100%;
    flex-flow: row;
    flex-wrap: nowrap;

}

header>div#cabecera>picture {
    flex-basis: 85%;
    border: 1px solid green;
}

header>div#cabecera>picture>img {
    height: 100%;
    width: auto;
}

header>div#cabecera>nav#bloque-iconos {
    display: flex;
    flex-basis: 15%;
}

header>div#cabecera>nav#bloque-iconos>ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    border: 1px solid blue;
    justify-content: space-between;
}

header>div#cabecera>nav#bloque-iconos>ul>li>a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;

}

header>div#cabecera>nav#bloque-iconos>ul>li>a>i {
    font-size: 3rem;
    padding: 0 1rem;
    border: 1px solid black;

}

main {
    display: none;
}

footer {
    display: none;
}

header>nav#menu-principal {
    display: none;
}